body {
    font-family: 'Roboto',
        sans-serif;

}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {

    color: #FF4848 !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    color: #FF4848 !important;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
    background: red !important;
}

/* ================Swiper-Slider============ */

/* ==========================Home-page Start================= */
.about_main {
    position: relative;
}

.about_bottom {
    position: absolute;
    content: '';
    bottom: 45px;
    left: 115px;
}



.about_top {
    position: absolute;
    content: '';
    top: 90px;
    left: 15px;

}



.review_card {
    box-shadow: 0 4px 4px rgb(0 0 0 / 20%);
    padding: 35px;
    cursor: pointer;
    transition: .2s all ease;
    -webkit-transition: .2s all ease;
    -moz-transition: .2s all ease;
    -ms-transition: .2s all ease;
    -o-transition: .2s all ease;
}

.review_card:hover {
    box-shadow: 0 4px 4px rgb(0 0 0 / 30%);
}

.testSwiper {
    padding-top: 20px;
    padding-bottom: 60px;
}

.service_card {
    position: relative;
    cursor: pointer;
    overflow: hidden;

}

.service_img {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 300px;
    width: 100%;
}

.service_bottom {
    position: absolute;
    content: '';
    width: 0%;
    height: 10px;
    background: red;
    bottom: 0px;
    transition: 1s all ease;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -ms-transition: 1s all ease;
    -o-transition: 1s all ease;
}

.service_card:hover .service_bottom {
    width: 100%;
}

.service_card::after {
    position: absolute;
    content: '';
    width: 0%;
    height: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    background: #FF4848;
    opacity: .3;
    transition: 1s all ease;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -ms-transition: 1s all ease;
    -o-transition: 1s all ease;
}

.service_card::before {
    position: absolute;
    content: '';
    width: 0%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    background: #FF4848;
    opacity: .3;
    transition: 1s all ease;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -ms-transition: 1s all ease;
    -o-transition: 1s all ease;
    z-index: 1;
}

.service_card:hover.service_card::after {
    width: 50%;
}

.service_card:hover.service_card::before {
    width: 50%;
}

.service_tools {
    position: absolute;
    content: '';
    top: 0;
    right: -110px;
    z-index: 1111;
    transition: .5s all ease;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    -ms-transition: .5s all ease;
    -o-transition: .5s all ease;
}

.service_tools:hover {
    right: 0px;
}

.project-card {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 300px;
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    z-index: 11;
    cursor: pointer;
}

.project-card::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    z-index: -11;
}

.project-view {
    position: relative;
    cursor: pointer;

}

.project-details {
    background: #FF4848;
    padding: 20px;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    scale: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: .5s all ease;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    -ms-transition: .5s all ease;
    -o-transition: .5s all ease;
    z-index: 11111111;
}

.project-view:hover .project-details {
    scale: 1;
}

.teamSwiper {
    padding-bottom: 100px;
}

.team_member img {
    position: relative;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    cursor: pointer;
}

.member-info {
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    width: 80%;
    margin: 0 auto;
    background: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 8px 10px rgb(0 0 0 / 20%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: .5s all ease;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    -ms-transition: .5s all ease;
    -o-transition: .5s all ease;
}

.member-social {
    display: none;

}

.team_member:hover .member-social {
    display: flex;
}


.memberSwiper.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.memberSwiper.swiper {
    width: 100%;
    height: 100%;
}

.newslatter {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    z-index: 11;

}

.newslatter::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #202020;
    opacity: .8;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -11;
}

.marquee {
    overflow: hidden;
}

.marquee-content {
    display: flex;
    animation: scrolling 30s linear infinite;
    -webkit-animation: scrolling 30s linear infinite;
}



.marquee-item {
    flex: 0 0 16vw;
    margin: 0 1vw;

}

.marquee-item img {
    display: block;
    width: 100%;
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translatex(-144vw);
    }
}

/* ==========================Home-page End================= */

/* =================Our Services Page Start====================== */
.page_header {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 11;

}

.page_header::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #202020;
    opacity: .8;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -11;
}

.service-card {
    position: relative;
    overflow: hidden;
}

.service-details {
    position: absolute;
    content: '';
    top: 0;
    right: -110px;
    transition: .5s all ease;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    -ms-transition: .5s all ease;
    -o-transition: .5s all ease;
}

.service-card:hover .service-details {
    right: 0px;
}


/* =================Our Services Page End====================== */

/* ===============ServiceDetail start=============== */
.service_header {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 11;
}

.service_header::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: red;
    clip-path: polygon(0 0, 71% 0, 29% 100%, 0% 100%);
    opacity: .6;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -11;
}

.service-image_details {
    background-size: cover;
    background-position: center center;
    height: 350px;
    background-repeat: no-repeat;
}


@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}

.rainbow {
    position: relative;
    z-index: 0;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    overflow: hidden;
    padding: 2rem;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.rainbow::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: #399953;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
    animation: rotate 4s linear infinite;
}

.rainbow::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: white;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

/* ===============ServiceDetail end=============== */


/* ===================Contact-us start============= */
.contact_head {
    position: relative;
}

.contact_head::after {
    position: absolute;
    content: '';
    width: 50%;
    height: 4px;
    background: #FF4848;
    bottom: -10px;
}

.input_field {
    position: relative;
}

.input_icon {
    position: absolute;
    top: 10px;
    right: 10px;

}

.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 100%;
    margin-top: -180px;
    z-index: -11111;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 100%;
}

/* ===================Contact-us End============= */

/* =====================Blog-page-Start================= */
.blog_card {
    position: relative;
    background: linear-gradient(29deg, rgba(40, 24, 202, 1) 0%, rgba(65, 86, 245, 1) 100%);
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;

}

.blog_card:hover .blog_image {
    box-shadow: 1px 7px 37px #e5e7eb;

}

.blog_image {
    margin-top: -50px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: .3s all ease;
    -webkit-transition: .3s all ease;
    -moz-transition: .3s all ease;
    -ms-transition: .3s all ease;
    -o-transition: .3s all ease;
}


.author_img {
    width: 25px;
    height: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

/* =====================Blog-page-End================= */